@font-face {
  font-family: "DMSans_Regular";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
/*style header*/
.header{
  width: 100%;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
}

.header_logo_img {
  width: 147px;
  height: 29px;
}

.menu_list {
  display: flex;
  align-items: center;
  gap: 70px;
  padding-top: 4px;
}

.menu_link{
  font-family: "DMSans_Regular";
 font-size: 16px;
 color: #161616;
}

.header_options_search {
  background-color: transparent;
  margin-right: 30px;
}

.header_options_menu {
 background-color: transparent;
}

/* style preview */
.preview_img{
  width: 411px;
}

.content{
display: flex;
background-color: #154444;
}

.preview_content{
  margin: 101px 0 0 100px;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

.main_title{
  font-family: "Montserrat";
  font-size: 56px;
}

.description{
  font-family: "DMSans_Regular";
  font-size: 20px;
  max-width: 488px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.button_explore{
  font-family: "DMSans_Regular";
  font-size: 20px;
  padding: 16px 26px;  
  color: #154444;
  background-color: #FFF;
  width: max-content;
}